<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <% if User.admin?(current_user) %>
  <div class="field">
    <% if User.admin?(current_user) %>
    <%= f.label :email %><br />
    <select name="group[email]">
    <%= @professors.each do |professor| %>
      <option value="<%= professor.email %>"><%= professor.email %></option>
    <% end %>
    </select>
    <% else %>
      <%= f.hidden_field :email %>
    <% end %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
