<div class="row">
<div class="span6">
<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :levels %><br />
    <%= f.number_field :levels %>
  </div>

  <div class="field">
    <%= f.label :bulls %><br />
    <%= f.number_field :bulls %>
  </div>

  <div class="field">
    <%= f.label :cows %><br />
    <%= f.number_field :cows %>
  </div>


  <% if User.admin?(current_user) %>
  <div class="field">
    <% if User.admin?(current_user) %>
    <%= f.label :email %><br />
    <select name="group[email]">
    <%= @professors.each do |professor| %>
      <option value="<%= professor.email %>"><%= professor.email %></option>
    <% end %>
    </select>
    <% else %>
      <%= f.hidden_field :email %>
    <% end %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>
<div class="span6">
<% if User.professor?(current_user) && @group != nil  %>
  <%= form_for @group, :url => { :action => "generateusers" }, :method => "post" do |f| %>

  <div class="form-inputs">
    <%= label_tag(:quantity, "Generate students") %>
    <%= text_field_tag :quantity %>
  </div>

  <div class="form-actions">
    <%= submit_tag("Generate") %>
   <span>This will delete and replace existing students and cattles</span>
  </div>
  <% end %>
<% end %>

</div>
</div>
