<h2>  <%= @group.name %> </h2>

<p>
  <b>Description:</b>
  <%= @group.description %>
</p>

<p>
  <b>Professor:</b>
  <%= @group.email %>
</p>

<% if ! @group[:config_id].nil? %>
<p>
<a class="btn" href="<%= game_config_path(@group[:config_id]) %>">Configuration</a>
</p>
<% end %>

<h3>Students</h3>

<table class="table table-bordered">
  <tr>
    <th>Identifier</th><th>Nickname</th><th>Email</th>
  </tr>

<% @users.each do |user| %>
  <tr class="info">
    <td><%= user[:id]  %></td><td><%= user[:nickname]  %></td><td><a href="<%= user_path(user)  %>"><%= user[:email] %></a></td>
  </tr>
<% end %>
</table>

<h3>Game status</h3>
<table class="table table-bordered">
<thead><th>User id</th><th>Current level</th><th>Status</th><th></th></thead>
<tbody>
<% completed = true %>
<% @games.each do |game| %>
  <tr class="info">
  	<% if game[:status] != Level::STATUS_COMPLETED
  		completed = false
  	end %>
    <td><%= game[:user_id] %></td><td><%= game[:level] %></td><td><%= game[:status] %></td>
    <% if game[:status] == Level::STATUS_NEW || game[:status] == Level::STATUS_IN_PROGRESS %>
    <td><a class="btn" href="<%= game_path(game) %>">Show</a><a class="btn" href="<%= group_force_next_level_path(@group, game) %>">Force completion</a></td>
    <% else %>
    <td></td>
    <% end %>
  </tr>
<% end %>
</tbody>
</table>

<% if completed && @games.length>0%>
<div>
<h3>Generate next generation</h3>
	<a class="btn" href="<%= next_group_level_path(@group)  %>">Generate next generation</a>
</div>
<% end %>


<h3>Market Place</h3>
<div>
<% if @group.market == Market::STATUS_CLOSED %>
  <a class="btn" href="<%= open_market_path(@group)  %>">Open market</a>
<% else %>
  <a class="btn" href="<%= market_path(@group)  %>">Access market</a>
<% end %>
<% if @group.market == Market::STATUS_OPEN %>
  <a class="btn" href="<%= bids_market_path(@group)  %>">Open bids</a>
<% end %>
<% if @group.market == Market::STATUS_BIDS %>
  <a class="btn" href="<%= close_market_path(@group)  %>">Close bids</a>
<% end %>
  <a class="btn" href="<%= cancel_market_path(@group)  %>">Cancel market</a>
</div>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
