<h2>  <%= @group.name %> </h2>

<p>
  <b>Description:</b>
  <%= @group.description %>
</p>

<p>
  <b>Professor:</b>
  <%= @group.email %>
</p>

<% if ! @group[:config_id].nil? %>
<p>
<button class="btn" type="btn"><a href="<%= game_config_path(@group[:config_id]) %>">Configuration</a></button>
</p>
<% end %>

<h3>Students</h3>

<table class="table table-bordered">
  <tr>
    <th>Identifier</th><th>Nickname</th><th>Email</th>
  </tr>

<% @users.each do |user| %>
  <tr class="info">
    <td><%= user[:id]  %></td><td><%= user[:nickname]  %></td><td><a href="<%= user_path(user)  %>"><%= user[:email] %></a></td>
  </tr>
<% end %>
</table>

<h3>Game status</h3>
<table class="table table-bordered">
<thead><th>User id</th><th>Current level</th><th>Status</th><th></th></thead>
<tbody>
<% completed = true %>
<% @games.each do |game| %>
  <tr class="info">
  	<% if game[:status] != Level::STATUS_COMPLETED
  		completed = false
  	end %>
    <td><%= game[:user_id] %></td><td><%= game[:level] %></td><td><%= game[:status] %></td>
    <% if game[:status] == Level::STATUS_NEW || game[:status] == Level::STATUS_IN_PROGRESS %>
    <td><button class="btn"><a href="<%= game_path(game)
%>">Show</a></button><button class="btn"><a href="<%= group_force_next_level_path(@group, game) %>">Force completion</a></button></td>
    <% else %>
    <td></td>
    <% end %>
  </tr>
<% end %>
</tbody>
</table>

<% if completed && @games.length>0%>
<div>
<h3>Generate next generation</h3>
	<button class="btn"><a href="<%= next_group_level_path(@group)  %>">Generate next generation</a></button>
</div>
<% end %>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
