<p>
  <b>Name:</b>
  <%= @group.name %>
</p>

<p>
  <b>Description:</b>
  <%= @group.description %>
</p>

<p>
  <b>Professor:</b>
  <%= @group.email %>
</p>

<b>Students</b>

<table class="table table-bordered">
  <tr>
    <th>Identifier</th>
  </tr>

<% @users.each do |user| %>
  <tr class="info">
    <td><a href="<%= user_path(user)  %>"><%= user.email %></a></td>
  </tr>
<% end %>
</table>



<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
