<h1>Listing users</h1>

<table class="table table-bordered">
  <tr>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr class="info">
    <td><%= user.email %></td>
    <td><%= link_to 'Show', user, :class => "btn" %></td>
    <td><%= link_to 'Edit', edit_user_path(user), :class => "btn" %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" %></td>
  </tr>
<% end %>
</table>
<div class="digg_pagination">
    <div clas="page_info">
    </div>
    <%= will_paginate @users, :container => false %>
  </div>

<br />

<%= link_to 'New User', new_user_path, :class => "btn" %>
