<% levels_complete = true %>
<% nblevels = 0 %>
<div class="row">
<div id="dashboard" class="span6">
	<h1>Dashboard</h1>
	<div>
		<canvas id="graphweight" width="400" height="300"></canvas>
		<div id="graphlegend" class="span2">
			<div style="background-color: rgba(220,220,220,0.5);">Mean weight at 4 months</div>
			<div style="background-color: rgba(151,187,205,0.5);">Mean weight at 7 months</div>
		</div>
	</div>	
</div>
<div class="span6">
<% if ! @group.nil? %>
<% if @group.market == Market::STATUS_OPEN %>
  <div class="row well">
  <span><%= image_tag("/assets/shopping_basket.png") %> Market is open! You can
propose your bulls. <a class="btn" href="<%= market_path(@group) %>">Go</a></span>
  </div>
<% end %>
<% if @group.market == Market::STATUS_BIDS %>
  <div class="row well">
  <span><%= image_tag("/assets/shopping_basket.png") %> Market bids are open
now! You should select the best candidates. <a class="btn" href="<%= market_path(@group) %>">Go</a></span>
  </div>
<% end %>
<% end %>
</div>
</div>
	
<div class="bg1">
<div class="row well">

<% @levels.each do |level| %>
  <% nblevels += 1 %>
  <% if level.status != Level::STATUS_COMPLETED %>
  <% levels_complete = false %>
  <% status = 'current'%>
  <% else %>
  <% status = 'success'%>
  <% end %>
  <div class="span2">
<a class="btn generation<%= status %>" href="<%= level_path(level)  %>"><%= t("game.level") %> <%= level.level %></a>
  </div>
<% end %>

<% if levels_complete && @game.group_id == nil && nblevels <Settings.max_levels %>
  <div class="span2 offset1"><%= button_to t("game.next_level"), games_path, :class => 'generation', :method => :post %></div>
<% end %>
</div>

</div>

<script>
$(function() {
var game_data = <%=raw @game.data %>;
var ctx = $("#graphweight").get(0).getContext("2d");
var level_labels = [];
var dataset1 = [];
var dataset2 = []
$.each(game_data,function(key,inner_json){
	level_labels.push(key);
	dataset1.push(inner_json["weight_4m"]);
	dataset2.push(inner_json["weight_7m"]);
});

var data = {
	labels : level_labels,
	datasets : [
		{
			fillColor : "rgba(220,220,220,0.5)",
			strokeColor : "rgba(220,220,220,1)",
			pointColor : "rgba(220,220,220,1)",
			pointStrokeColor : "#fff",
			data : dataset1
		},
		{
			fillColor : "rgba(151,187,205,0.5)",
			strokeColor : "rgba(151,187,205,1)",
			pointColor : "rgba(151,187,205,1)",
			pointStrokeColor : "#fff",
			data : dataset2
		}
	]
}
<% if @game.level>1 %>
var myNewChart = new Chart(ctx).Line(data);
<% end %>


});
</script>

