<h2>Cattle</h2>
<button id="reset" class="action btn btn-warning">Reset mating plan</button><button class="btn btn-primary action">Validate mating plan</button>

<script>
var game = <%= @game.id %>;
var level = <%= @level.id %>;
var bulls = <%= @bulls.to_s.html_safe %>;
var cows = <%= @cows.to_s.html_safe %>;
var bulls_icon = '<%= image_tag('/assets/bulls_icon.png', {:width => 36})  %>';
var cows_icon = '<%= image_tag('/assets/cows_icon.png', {:width => 36})  %>';
var dead_icon = '<%= image_tag('/assets/dead_icon.png', {:width => 36, :class => 'dead' })  %>';
</script>

<script>
var msg = "To mate a bull and a cow, select a bull then select a cow.";
if (Modernizr.draganddrop) {
    bulls_icon = '<%= image_tag('/assets/bulls_icon.png', {:width => 36})  %>';
    cows_icon = '<%= image_tag('/assets/cows_icon.png', {:width => 36, :draggable => true, :class => 'cowdrag', :ondragstart => "handleDragStart(event)"})  %>';
}
  msg += "You can also select a cow icon and drop it in the mating column of a bull.";

var useStorage = false;

var matingPlan = {};

if (Modernizr.localstorage) {
    useStorage = true;
    matingPlan = localStorage.getItem(game+"-"+level);
    if(matingPlan == null) {
        matingPlan = {};
    }
    else {
        matingPlan = JSON.parse(matingPlan);
    }
    console.log("Load previous mating plan");
}


var selectedBull = null;


  $(function() {
    $("#help").html(msg);
    loadCattle('bulls', bulls);
    $("table#bulls").tablesorter();
    loadCattle('cows', cows);
    $("table#cows").tablesorter();

    $("#reset").click(function() {
        $("tr").removeClass('selected');
        matingPlan = {}
        if(useStorage) {
            matingPlan = localStorage.removeItem(game+"-"+level);
        }
    });

    $("#mate").click(function() {
        mate($("#mateModalBull").attr("data-id"),$("#mateModalCow").attr("data-id"));
        $('#mateModal').modal('hide')
    });

    if(useStorage) {
        loadMatingPlan();
    }

    $(document).on("click",".unmate",function(e) { 
        unmate($(this).attr('data-bull'), $(this).attr('data-cow'));
        e.stopPropagation();
    });

    $(document).on("click",".bulls",function() { 
            if(selectedBull==null || selectedBull != $(this).attr('id') ) {
                if(selectedBull!=null) {
                    $("tr#"+selectedBull).removeClass('selected');
                }
                $(this).addClass('selected');
                selectedBull = $(this).attr('id');
            }
            else {
                $(this).removeClass('selected');
                selectedBull = null;
            }
           // Show mated cows
            highlight_mated_cows(selectedBull);
    });

    $(document).on("click",".cows",function() { 
           // Show mated cows
            if($(this).hasClass('dead')) {
                return;
            }
            var bull = null;
            var cowid = $(this).attr('id');
            $.each(matingPlan, function(key,value) {
                for(var i=0;i<value.length;i++) {
                    if(value[i]==cowid) {
                        highlight_mated_bull(key);
                        break;
                    }
                }
            });
            if(selectedBull!=null) {
                confirmMating(selectedBull,cowid);
            }
    });

  });

function highlight_mated_bull(bull) {
    selectedBull = null;
    $("tr#"+bull).addClass('selected');
    highlight_mated_cows(bull);
}

function highlight_mated_cows(bull) {
    $("tr.cows").removeClass('selected');
    if(bull!=null) {
        var cows = matingPlan[bull];
        if(cows!=undefined) {
            for(var i=0;i<cows.length;i++) {
                $("#"+cows[i]).addClass('selected');
            }
        }
    }
}

function handleDrop(e) {
  if (e.stopPropagation) {
    e.stopPropagation(); // stops the browser from redirecting.
  }
  if($(e.target).hasClass('bulldrop')) { 
    confirmMating($(e.target).attr('data-id'),e.dataTransfer.getData('text'));
  }
  return false;
}

function loadMatingPlan() {
    $.each(matingPlan, function(key,value) {
        for(var i=0;i<value.length;i++) {
            addCowToBull(key,value[i]);
        }
    });
}

function is_mated(bull,cow) {
  bullmates = matingPlan[bull];
  console.log("is mated? "+bullmates+","+cow);
  if(bullmates == undefined) {
    return false;
  }
  for(var i=0;i<bullmates;i++) {
    if(bullmates[i]==cow) {
        return true;
    }
  }
  return false;
}


function confirmMating(bull,cow) {
    var content="";
    if(is_mated(bull,cow)) {
        alert('Cow is already mated, please unmate it first');
        return;
    }
    $("#mateModalBull").attr('data-id',bull);
    for(var i=0;i<bulls.length;i++) {
        if(bulls[i][1]==bull) {
            content = "<div>P_W4M: "+bulls[i][3]+"</div>";
            content += "<div>P_W7M: "+bulls[i][4]+"</div>";
            content += "<div>G_W4M: "+bulls[i][5]+"</div>";
            content += "<div>G_W7M: "+bulls[i][6]+"</div>";
            content += "<div>G_W4Mm: "+bulls[i][7]+"</div>";
            content += "<div>G_W7Mm: "+bulls[i][8]+"</div>";
            break;
        }
    }
    $("#mateModalBull").html(content);
    $("#mateModalCow").attr('data-id',cow);
    for(var i=0;i<cows.length;i++) {
        if(cows[i][1]==cow) {
            content = "<div>P_W4M: "+cows[i][3]+"</div>";
            content += "<div>P_W7M: "+cows[i][4]+"</div>";
            content += "<div>G_W4M: "+cows[i][5]+"</div>";
            content += "<div>G_W7M: "+cows[i][6]+"</div>";
            content += "<div>G_W4Mm: "+cows[i][7]+"</div>";
            content += "<div>G_W7Mm: "+cows[i][8]+"</div>";
            break;
        }
    }
    $("#mateModalCow").html(content);
    $("#mateModal").modal();
}

function mate(bull,cow) {
    // Mate bull and cow
    addCowToBull(bull,cow);
    if(matingPlan[bull]==undefined) {
        matingPlan[bull] = Array();    
    }
    matingPlan[bull].push(cow);
    if(useStorage) {
        localStorage.setItem(game+"-"+level, JSON.stringify(matingPlan));
    }
}

function unmate(bull,cow) {
  $("tr#"+cow+" .mated").html(''); 
  $('#'+bull+' .bulldrop span[data-cow="'+cow+'"]').remove();
  bullmates = matingPlan[bull];
  matingPlan[bull] = Array();
  for(var i=0;i<bullmates;i++) {
    if(bullmates[i]!=cow) {
        matingPlan[bull].push(bullmates[i]);
    }
  }
  if(useStorage) {
      localStorage.setItem(game+"-"+level, JSON.stringify(matingPlan));
  }

}

function addCowToBull(bull,cow) {
    divelt = $("#"+bull+" .bulldrop");
    cowelt = '<span data-cow="'+cow+'">'+cows_icon+'</span>';
    divelt.append(cowelt);
    $("tr#"+cow+" .mated").html('<span class="label label-info">mated</span><button class="unmate btn btn-mini" data-bull="'+bull+'" data-cow="'+cow+'">Unmate</button>');
}

function handleDragStart(e) {
  cowid = $(e.target).parent().parent().attr('id');
  e.dataTransfer.setData('text', cowid);
}

function allowDrop(ev)
{
ev.preventDefault();
}



function loadCattle(tablename, cattle) {
   table_data = $("table#"+tablename+" tbody");
   table_data.html();
   for(var i=0;i<cattle.length;i++) {
        var data = '';
        if(cattle[i].length==11) {
            data += '<tr id="'+cattle[i][1]+'" data-index="'+i+'" class="'+tablename+'">';
            if(tablename == 'bulls') {
                icon = bulls_icon;
                //dodrag = ' class="bulldrop"';
            }
            else {
                icon = cows_icon;
                //dodrag = ' class="cowdrag"';
            }
            data += '<td>'+icon+'</td>';
            data += '<td>' + cattle[i][1] + '</td>';
            data += '<td>' + cattle[i][3] + '</td>';
            data += '<td>' + cattle[i][4] + '</td>';
            data += '<td>' + cattle[i][5] + '</td>';
            data += '<td>' + cattle[i][6] + '</td>';
            data += '<td>' + cattle[i][7] + '</td>';
            data += '<td>' + cattle[i][8] + '</td>';
            // mating
            if(tablename == 'bulls') {
                data += '<td data-id="'+cattle[i][1]+'" class="bulldrop" ondragover="allowDrop(event)" ondrop="handleDrop(event);"></td>';
            }
            else {
                data +='<td class="mated"></td>';
            }
            data += '</tr>';
        }
        else {
            data += '<tr id="'+cattle[i][1]+'" class="dead">';
            data += '<td>'+dead_icon+'</td>';
            data += '<td>' + cattle[i][1] + '</td>';
            data += '<td></td><td></td><td></td><td></td><td></td><td></td>';
            
        }
        table_data.append(data);
    }

}

</script>

<div class="alert alert-info" id="help">
</div>

<h3>Bulls</h3>
<table id="bulls" class="table">
<thead><th></th><th>ID</th><th>P_W4M</th><th>P_W7M</th><th>g_W4Md</th><th>g_W7Md</th><th>g_W4Mm</th><th>g_W7Mm</th><th>Mating</th></thead>
<tbody></tbody>
</table>

<h3>Cows</h3>
<table id="cows" class="table">
<thead><th></th><th>ID</th><th>P_W4M</th><th>P_W7M</th><th>g_W4Md</th><th>g_W7Md</th><th>g_W4Mm</th><th>g_W7Mm</th></thead>
<tbody></tbody>
</table>


<div id="mateModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Confirm mating</h3>
  </div>
  <div id="mateModalBody" class="modal-body">
    <table class="table">
    <tr>
    <td><%= image_tag('/assets/bulls_icon.png', {:width => 64})  %></td>
    <td><%= image_tag('/assets/rings.png', {:width => 64})  %></td>
    <td><%= image_tag('/assets/cows_icon.png', {:width => 64})  %></td>
    </tr>
    <tr>
    <td id="mateModalBull"></td>
    <td></td>
    <td id="mateModalCow"></td>
    </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn bn-primary" id="mate">Mate</button>
  </div>
</div>
