<div class="row">
<div class="span8">
<h2>Available bulls</h2>
<table id="bulls" class="table">
<thead><th>ID</th><th>P_W4M</th><th>P_W7M</th><th>g_W4Md</th><th>g_W7Md</th><th>g_W4Mm</th><th>g_W7Mm</th><th>bids</th><th></th></thead>
<tbody></tbody>
</table>
</div>
<div class="span4">
<% if ! @is_prof %>
<br/>
<%= form_tag(controller: "markets", action: "vote") do %>
<input type="hidden" id="game" name="game" value"<%= @game[:id] %>"/>
<input type="hidden" id="bids" name="bids" value="%5B%5D"/>
<button class="btn">Validate bids</button>
<% end %>
<a href="<%= game_path(@game) %>" class="btn">Back to game</a>
<% end %>
</div>
</div>
<% if ! @is_prof %>
<div>
<button class="btn btn-info">Credit: <span id="credit"> <%= @credit %></span> <i
class="icon-shopping-cart"></i></button>
</div>
<% end %>

<script>
var bulls = <%= @animals.to_s.html_safe %>;
var credit = <%= @credit.to_s %>;

$(function() {
$("#bids").val(encodeURIComponent(JSON.stringify(bulls)));
loadCattle('bulls',bulls);
$("table#bulls").tablesorter();

$(document).on("click",".vote", function() {
  var delta = parseInt($(this).attr("data-value"));
  if($(this).attr("data-type") == "minus") {
    delta = delta * -1;
  }
  setCredit($(this).attr("data-id"),delta);
  $("#bids").val(encodeURIComponent(JSON.stringify(bulls)));
});
});

function setCredit(animal, delta) {
    var testcredit = credit + (delta * -1);
    if(testcredit < 0 ) {
        return;
    }
    if(parseInt(bulls[animal]["bid"]) + delta < 0) {
        return;
    }
    credit += delta * -1;
    $("#credit").html(credit);
    bulls[animal]["bid"] = parseInt(bulls[animal]["bid"]) + delta;
    var id = bulls[animal]["values"][0]+"-"+bulls[animal]["values"][1];
    $("#bid"+id).html(bulls[animal]["bid"]);
}

function loadCattle(tablename, cattle) {
   table_data = $("table#"+tablename+" tbody");
   table_data.html("");
   for(var i=0;i<cattle.length;i++) {
        var data = '';
        // If not dead
        if(parseInt(cattle[i]["values"][13])==0) {
            mine = ""
            if(cattle[i]["values"][0]==<%= @cattle %>) {
              mine = " mine"
            }
            data += '<tr id="'+cattle[i]["values"][0]+'-'+cattle[i]["values"][1]+'" data-index="'+i+'" class="'+tablename+mine+'">';
            data += '<td>' + cattle[i]["values"][1] + '</td>';
            data += '<td>' + cattle[i]["values"][3] + '</td>';
            data += '<td>' + cattle[i]["values"][4] + '</td>';
            data += '<td>' + cattle[i]["values"][5] + '</td>';
            data += '<td>' + cattle[i]["values"][6] + '</td>';
            data += '<td>' + cattle[i]["values"][7] + '</td>';
            data += '<td>' + cattle[i]["values"][8] + '</td>';
            data += '<td id="bid'+cattle[i]["values"][0]+'-'+cattle[i]["values"][1]+'" class="bid">' + cattle[i]["bid"] + '</td>';
            <% if ! @is_prof %>
            data += '<td><button class="btn vote" data-value="100" data-type="plus" data-id="'+i+'">+100</button><button class="btn vote" data-value="100" data-type="minus" data-id="'+i+'">-100</button></td>';
            <% else %>
            data += '<td></td>';
            <% end %>
            data += '</tr>';
        }
        table_data.append(data);
    }
}
</script>
