<!DOCTYPE html>
<html>
<head>
  <title>Bullmate</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Bullmate</a>
    <ul class="nav">
      <li><a href="/"><%= t :home %></a></li>
      <li><a href="/tutorial"><%= t :tutorial %></a></li>
      <% if user_signed_in? %>
          <li><a href="#" id="collaborate">Collaborate</a></li>
      <% end %>
      <li><a href="/credits"><%= t :credits %></a></li>
    </ul>
    <ul class="nav pull-right">
    <% if user_signed_in? %>
      <% if User.admin?(current_user) %>
        <li><a href="/admin/"><%= t :admin %></a></li>
      <% end %>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" id="dLabel"><%= current_user.email %><b class="caret"></b></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li><a tabindex="-1" href="<%= edit_user_registration_path %>"><%= t :myaccount%></a></li>
        <% if current_user.usertype == User::PROFESSOR %>
        <li><a tabindex="-1" href="<%= groups_path %>"><%= t :manage%> <%= t :groups %></a></li>
        <li><a tabindex="-1" href="<%= users_path %>"><%= t :manage%> <%= t :users %></a></li>
        <% end %>
      </ul>
      </li>
      <li><%= link_to t("signout"), destroy_user_session_path, :method => :delete %></li>
    <% else %>
      <li><%= link_to t("signin"), new_user_session_path %></li>
    <% end %>
    <% Settings.languages.each do |lang| %>
      <li><%= link_to image_tag('/assets/flags/'+lang+'.png'), :controller => '/game', :action => 'locale', :id => lang %></li>
    <% end %>
    </ul>
  </div>
</div>
<% if notice %>
<div class="notice"><%= notice %></div>
<% end %>
<% if alert %>
<div class="alert"><%= alert %></div>
<% end %>

<%= yield %>

<div class="navbar navbar-fixed-bottom footer">
<div class="span12">
Powered by <span>The GenOuest Platform</span> and <span>Agro Campus Rennes</span>
</div>
</div>
<script>
  // Set to false or delete to disable analytics/tracking:
  TowTruckConfig_enableAnalytics = true;
  $(function() {
    $("#collaborate").click(function() {
        TowTruck(this); return false;
    });

  });
</script>
<script src="https://towtruck.mozillalabs.com/towtruck.js"></script>
</body>
</html>
